{"swagger":"2.0","info":{"license":{"name":"Apache License Version 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"},"version":""},"host":"openshift.io","basePath":"/api","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/labels":{"get":{"tags":["label"],"summary":"list label","description":"List Labels.","operationId":"label#list","produces":["application/vnd.jsonapierrors+json","application/vnd.jsonapierrors+json","application/vnd.labellist+json"],"parameters":[{"name":"If-Modified-Since","in":"header","required":false,"type":"string"},{"name":"If-None-Match","in":"header","required":false,"type":"string"}],"responses":{"200":{"description":"Resource created","schema":{"$ref":"#/definitions/LabelList"},"headers":{"Cache-Control":{"type":"string"},"ETag":{"type":"string"},"Last-Modified":{"type":"string"}}},"304":{"description":"Not Modified"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/JSONAPIErrors"}}},"schemes":["http"]},"post":{"tags":["label"],"summary":"create label","description":"create label with id, name and color.","operationId":"label#create","produces":["application/vnd.jsonapierrors+json","application/vnd.jsonapierrors+json","application/vnd.label+json","application/vnd.jsonapierrors+json","application/vnd.jsonapierrors+json","application/vnd.jsonapierrors+json","application/vnd.jsonapierrors+json"],"parameters":[{"name":"payload","in":"body","description":"Holds a single Label","required":true,"schema":{"$ref":"#/definitions/CreateLabelPayload"}}],"responses":{"201":{"description":"Resource created","schema":{"$ref":"#/definitions/LabelSingle"},"headers":{"Location":{"description":"href to created resource","type":"string","pattern":"/labels/.*"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/JSONAPIErrors"}}},"schemes":["http"],"security":[{"jwt":[]}]}},"/labels/{labelID}":{"get":{"tags":["label"],"summary":"show label","description":"Retrieve label for the given id.","operationId":"label#show","produces":["application/vnd.jsonapierrors+json","application/vnd.jsonapierrors+json","application/vnd.jsonapierrors+json","application/vnd.label+json"],"parameters":[{"name":"labelID","in":"path","description":"ID of the label","required":true,"type":"string"},{"name":"If-Modified-Since","in":"header","required":false,"type":"string"},{"name":"If-None-Match","in":"header","required":false,"type":"string"}],"responses":{"200":{"description":"Resource created","schema":{"$ref":"#/definitions/LabelSingle"},"headers":{"Cache-Control":{"type":"string"},"ETag":{"type":"string"},"Last-Modified":{"type":"string"}}},"304":{"description":"Not Modified"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/JSONAPIErrors"}}},"schemes":["http"]},"patch":{"tags":["label"],"summary":"update label","description":"update the label for the given id.","operationId":"label#update","produces":["application/vnd.jsonapierrors+json","application/vnd.jsonapierrors+json","application/vnd.jsonapierrors+json","application/vnd.jsonapierrors+json","application/vnd.jsonapierrors+json","application/vnd.label+json","application/vnd.jsonapierrors+json"],"parameters":[{"name":"labelID","in":"path","description":"ID of the label to update","required":true,"type":"string"},{"name":"payload","in":"body","description":"Holds a single Label","required":true,"schema":{"$ref":"#/definitions/UpdateLabelPayload"}}],"responses":{"200":{"description":"Resource created","schema":{"$ref":"#/definitions/LabelSingle"},"headers":{"Cache-Control":{"type":"string"},"ETag":{"type":"string"},"Last-Modified":{"type":"string"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/JSONAPIErrors"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/JSONAPIErrors"}}},"schemes":["http"],"security":[{"jwt":[]}]}},"/status":{"get":{"tags":["status"],"summary":"show status","description":"Show the status of the current running instance","operationId":"status#show","produces":["application/vnd.status+json","application/vnd.status+json"],"responses":{"200":{"description":"Resource created","schema":{"$ref":"#/definitions/Status"},"headers":{"Cache-Control":{"type":"string"},"ETag":{"type":"string"},"Last-Modified":{"type":"string"}}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Status"}}},"schemes":["http"]}}},"definitions":{"CreateLabelPayload":{"title":"CreateLabelPayload","type":"object","properties":{"data":{"$ref":"#/definitions/Label"},"included":{"type":"array","items":{"example":"1979-05-01T16:19:31Z"},"description":"An array of mixed types","example":["1979-05-01T16:19:31Z"]}},"description":"Holds a single Label","example":{"data":{"attributes":{"background-color":"#ffa7cb","border-color":"#ffa7cb","created-at":"2016-11-29T23:18:14Z","name":"name for the object","text-color":"#ffa7cb","updated-at":"2016-11-29T23:18:14Z","version":23},"id":"40bbdd3d-8b5d-4fd6-ac90-7236b669af04","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"relationships":{"space":{"data":{"id":"6c5610be-30b2-4880-9fec-81e4f8e4fd76","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"type":"Dignissimos iste recusandae iure dolorem odit."},"links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"meta":{"Voluptas iste corrupti labore.":0.2152925220749911}}},"type":"labels"},"included":["1979-05-01T16:19:31Z"]},"required":["data"]},"GenericData":{"title":"GenericData","type":"object","properties":{"id":{"type":"string","description":"UUID of the object","example":"6c5610be-30b2-4880-9fec-81e4f8e4fd76"},"links":{"$ref":"#/definitions/GenericLinks"},"type":{"type":"string","example":"Dignissimos iste recusandae iure dolorem odit."}},"example":{"id":"6c5610be-30b2-4880-9fec-81e4f8e4fd76","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"type":"Dignissimos iste recusandae iure dolorem odit."}},"GenericLinks":{"title":"GenericLinks","type":"object","properties":{"meta":{"type":"object","example":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"additionalProperties":true},"related":{"type":"string","example":"Sapiente nesciunt est soluta eos."},"self":{"type":"string","example":"Laborum laudantium reprehenderit maiores nulla ut."}},"example":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."}},"JSONAPIError":{"title":"JSONAPIError","type":"object","properties":{"code":{"type":"string","description":"an application-specific error code, expressed as a string value.","example":"Rerum natus."},"detail":{"type":"string","description":"a human-readable explanation specific to this occurrence of the problem.\nLike title, this field’s value can be localized.","example":"Quisquam magni itaque quia nulla minima."},"id":{"type":"string","description":"a unique identifier for this particular occurrence of the problem.","example":"Cupiditate enim architecto magnam ut autem."},"links":{"type":"object","description":"a links object containing the following members:\n* about: a link that leads to further details about this particular occurrence of the problem.","example":{"Iure praesentium ipsum recusandae.":{"href":"http://example.com/articles/1/comments","meta":{"Rerum laborum suscipit nam voluptate.":"1990-10-14T23:24:35Z"}}},"additionalProperties":true},"meta":{"type":"object","description":"a meta object containing non-standard meta-information about the error","example":{"Ut temporibus.":"1976-10-10T14:09:07Z"},"additionalProperties":true},"source":{"type":"object","description":"an object containing references to the source of the error,\noptionally including any of the following members\n\n* pointer: a JSON Pointer [RFC6901] to the associated entity in the request document [e.g. \"/data\" for a primary data object,\n           or \"/data/attributes/title\" for a specific attribute].\n* parameter: a string indicating which URI query parameter caused the error.","example":{"Eos non rerum.":0.3968728190078231},"additionalProperties":true},"status":{"type":"string","description":"the HTTP status code applicable to this problem, expressed as a string value.","example":"Ea quo voluptatem ipsa."},"title":{"type":"string","description":"a short, human-readable summary of the problem that SHOULD NOT\nchange from occurrence to occurrence of the problem, except for purposes of localization.","example":"Sapiente enim inventore."}},"description":"Error objects provide additional information about problems encountered while\nperforming an operation. Error objects MUST be returned as an array keyed by errors in the\ntop level of a JSON API document.\n\nSee. also http://jsonapi.org/format/#error-objects.","example":{"code":"Rerum natus.","detail":"Quisquam magni itaque quia nulla minima.","id":"Cupiditate enim architecto magnam ut autem.","links":{"Iure praesentium ipsum recusandae.":{"href":"http://example.com/articles/1/comments","meta":{"Rerum laborum suscipit nam voluptate.":"1990-10-14T23:24:35Z"}}},"meta":{"Ut temporibus.":"1976-10-10T14:09:07Z"},"source":{"Eos non rerum.":0.3968728190078231},"status":"Ea quo voluptatem ipsa.","title":"Sapiente enim inventore."},"required":["detail"]},"JSONAPIErrors":{"title":"Mediatype identifier: application/vnd.jsonapierrors+json; view=default","type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/definitions/JSONAPIError"},"example":[{"code":"Rerum natus.","detail":"Quisquam magni itaque quia nulla minima.","id":"Cupiditate enim architecto magnam ut autem.","links":{"Iure praesentium ipsum recusandae.":{"href":"http://example.com/articles/1/comments","meta":{"Rerum laborum suscipit nam voluptate.":"1990-10-14T23:24:35Z"}}},"meta":{"Ut temporibus.":"1976-10-10T14:09:07Z"},"source":{"Eos non rerum.":0.3968728190078231},"status":"Ea quo voluptatem ipsa.","title":"Sapiente enim inventore."}]}},"description":"JSONAPIErrors media type (default view)","example":{"errors":[{"code":"Rerum natus.","detail":"Quisquam magni itaque quia nulla minima.","id":"Cupiditate enim architecto magnam ut autem.","links":{"Iure praesentium ipsum recusandae.":{"href":"http://example.com/articles/1/comments","meta":{"Rerum laborum suscipit nam voluptate.":"1990-10-14T23:24:35Z"}}},"meta":{"Ut temporibus.":"1976-10-10T14:09:07Z"},"source":{"Eos non rerum.":0.3968728190078231},"status":"Ea quo voluptatem ipsa.","title":"Sapiente enim inventore."}]},"required":["errors"]},"Label":{"title":"Label","type":"object","properties":{"attributes":{"$ref":"#/definitions/LabelAttributes"},"id":{"type":"string","description":"ID of label","example":"40bbdd3d-8b5d-4fd6-ac90-7236b669af04","format":"uuid"},"links":{"$ref":"#/definitions/GenericLinks"},"relationships":{"$ref":"#/definitions/LabelRelations"},"type":{"type":"string","example":"labels","enum":["labels"]}},"description":"JSONAPI store for the data of a Label. See also http://jsonapi.org/format/#document-resource-object","example":{"attributes":{"background-color":"#ffa7cb","border-color":"#ffa7cb","created-at":"2016-11-29T23:18:14Z","name":"name for the object","text-color":"#ffa7cb","updated-at":"2016-11-29T23:18:14Z","version":23},"id":"40bbdd3d-8b5d-4fd6-ac90-7236b669af04","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"relationships":{"space":{"data":{"id":"6c5610be-30b2-4880-9fec-81e4f8e4fd76","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"type":"Dignissimos iste recusandae iure dolorem odit."},"links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"meta":{"Voluptas iste corrupti labore.":0.2152925220749911}}},"type":"labels"},"required":["type","attributes"]},"LabelAttributes":{"title":"LabelAttributes","type":"object","properties":{"background-color":{"type":"string","description":"Background color in hex code format. See also http://www.color-hex.com","example":"#ffa7cb"},"border-color":{"type":"string","description":"Border color in hex code format. See also http://www.color-hex.com","example":"#ffa7cb"},"created-at":{"type":"string","description":"When the label was created","example":"2016-11-29T23:18:14Z","format":"date-time"},"name":{"type":"string","description":"The Label name","example":"name for the object","pattern":"^[^_|-].*","minLength":1,"maxLength":63},"text-color":{"type":"string","description":"Text color in hex code format. See also http://www.color-hex.com","example":"#ffa7cb"},"updated-at":{"type":"string","description":"When the label was updated","example":"2016-11-29T23:18:14Z","format":"date-time"},"version":{"type":"integer","description":"Version for optimistic concurrency control (optional during creating)","example":23,"format":"int64"}},"description":"JSONAPI store for all the \"attributes\" of a Label. See also http://jsonapi.org/format/#document-resource-object-attributes","example":{"background-color":"#ffa7cb","border-color":"#ffa7cb","created-at":"2016-11-29T23:18:14Z","name":"name for the object","text-color":"#ffa7cb","updated-at":"2016-11-29T23:18:14Z","version":23}},"LabelList":{"title":"Mediatype identifier: application/vnd.labellist+json; view=default","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/Label"},"example":[{"attributes":{"background-color":"#ffa7cb","border-color":"#ffa7cb","created-at":"2016-11-29T23:18:14Z","name":"name for the object","text-color":"#ffa7cb","updated-at":"2016-11-29T23:18:14Z","version":23},"id":"40bbdd3d-8b5d-4fd6-ac90-7236b669af04","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"relationships":{"space":{"data":{"id":"6c5610be-30b2-4880-9fec-81e4f8e4fd76","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"type":"Dignissimos iste recusandae iure dolorem odit."},"links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"meta":{"Voluptas iste corrupti labore.":0.2152925220749911}}},"type":"labels"}]},"included":{"type":"array","items":{"example":"2000-03-27T17:16:30Z"},"description":"An array of mixed types","example":["2000-03-27T17:16:30Z","2000-03-27T17:16:30Z"]},"links":{"$ref":"#/definitions/pagingLinks"}},"description":"Holds the list of Labels (default view)","example":{"data":[{"attributes":{"background-color":"#ffa7cb","border-color":"#ffa7cb","created-at":"2016-11-29T23:18:14Z","name":"name for the object","text-color":"#ffa7cb","updated-at":"2016-11-29T23:18:14Z","version":23},"id":"40bbdd3d-8b5d-4fd6-ac90-7236b669af04","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"relationships":{"space":{"data":{"id":"6c5610be-30b2-4880-9fec-81e4f8e4fd76","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"type":"Dignissimos iste recusandae iure dolorem odit."},"links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"meta":{"Voluptas iste corrupti labore.":0.2152925220749911}}},"type":"labels"}],"included":["2000-03-27T17:16:30Z","2000-03-27T17:16:30Z"],"links":{"filters":"Velit voluptatem sunt dolorem.","first":"Laboriosam quibusdam porro.","last":"Rem earum odio quis sunt velit.","next":"Magnam qui facilis non odio.","prev":"Voluptate iure est ut doloremque."}},"required":["data"]},"LabelRelations":{"title":"LabelRelations","type":"object","properties":{"space":{"$ref":"#/definitions/RelationGeneric"}},"example":{"space":{"data":{"id":"6c5610be-30b2-4880-9fec-81e4f8e4fd76","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"type":"Dignissimos iste recusandae iure dolorem odit."},"links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"meta":{"Voluptas iste corrupti labore.":0.2152925220749911}}}},"LabelSingle":{"title":"Mediatype identifier: application/vnd.label+json; view=default","type":"object","properties":{"data":{"$ref":"#/definitions/Label"},"included":{"type":"array","items":{"example":"1979-05-01T16:19:31Z"},"description":"An array of mixed types","example":["1979-05-01T16:19:31Z"]}},"description":"Holds a single Label (default view)","example":{"data":{"attributes":{"background-color":"#ffa7cb","border-color":"#ffa7cb","created-at":"2016-11-29T23:18:14Z","name":"name for the object","text-color":"#ffa7cb","updated-at":"2016-11-29T23:18:14Z","version":23},"id":"40bbdd3d-8b5d-4fd6-ac90-7236b669af04","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"relationships":{"space":{"data":{"id":"6c5610be-30b2-4880-9fec-81e4f8e4fd76","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"type":"Dignissimos iste recusandae iure dolorem odit."},"links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"meta":{"Voluptas iste corrupti labore.":0.2152925220749911}}},"type":"labels"},"included":["1979-05-01T16:19:31Z"]},"required":["data"]},"RelationGeneric":{"title":"RelationGeneric","type":"object","properties":{"data":{"$ref":"#/definitions/GenericData"},"links":{"$ref":"#/definitions/GenericLinks"},"meta":{"type":"object","example":{"Voluptas iste corrupti labore.":0.2152925220749911},"additionalProperties":true}},"example":{"data":{"id":"6c5610be-30b2-4880-9fec-81e4f8e4fd76","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"type":"Dignissimos iste recusandae iure dolorem odit."},"links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"meta":{"Voluptas iste corrupti labore.":0.2152925220749911}}},"Status":{"title":"Mediatype identifier: application/vnd.status+json; view=default","type":"object","properties":{"buildTime":{"type":"string","description":"The time when built","example":"Enim numquam nobis ut in accusantium delectus."},"commit":{"type":"string","description":"Commit SHA this build is based on","example":"Laboriosam fugit numquam rerum."},"error":{"type":"string","description":"The error if any","example":"Unde suscipit."},"startTime":{"type":"string","description":"The time when started","example":"Praesentium vitae voluptatem."}},"description":"The status of the current running instance (default view)","example":{"buildTime":"Enim numquam nobis ut in accusantium delectus.","commit":"Laboriosam fugit numquam rerum.","error":"Unde suscipit.","startTime":"Praesentium vitae voluptatem."},"required":["commit","buildTime","startTime"]},"UpdateLabelPayload":{"title":"UpdateLabelPayload","type":"object","properties":{"data":{"$ref":"#/definitions/Label"},"included":{"type":"array","items":{"example":"1979-05-01T16:19:31Z"},"description":"An array of mixed types","example":["1979-05-01T16:19:31Z"]}},"description":"Holds a single Label","example":{"data":{"attributes":{"background-color":"#ffa7cb","border-color":"#ffa7cb","created-at":"2016-11-29T23:18:14Z","name":"name for the object","text-color":"#ffa7cb","updated-at":"2016-11-29T23:18:14Z","version":23},"id":"40bbdd3d-8b5d-4fd6-ac90-7236b669af04","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"relationships":{"space":{"data":{"id":"6c5610be-30b2-4880-9fec-81e4f8e4fd76","links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"type":"Dignissimos iste recusandae iure dolorem odit."},"links":{"meta":{"Veritatis non aut quis tempore velit ducimus.":0.15907161337191197},"related":"Sapiente nesciunt est soluta eos.","self":"Laborum laudantium reprehenderit maiores nulla ut."},"meta":{"Voluptas iste corrupti labore.":0.2152925220749911}}},"type":"labels"},"included":["1979-05-01T16:19:31Z"]},"required":["data"]},"pagingLinks":{"title":"pagingLinks","type":"object","properties":{"filters":{"type":"string","example":"Velit voluptatem sunt dolorem."},"first":{"type":"string","example":"Laboriosam quibusdam porro."},"last":{"type":"string","example":"Rem earum odio quis sunt velit."},"next":{"type":"string","example":"Magnam qui facilis non odio."},"prev":{"type":"string","example":"Voluptate iure est ut doloremque."}},"example":{"filters":"Velit voluptatem sunt dolorem.","first":"Laboriosam quibusdam porro.","last":"Rem earum odio quis sunt velit.","next":"Magnam qui facilis non odio.","prev":"Voluptate iure est ut doloremque."}}},"responses":{"NotModified":{"description":"Not Modified"},"OK":{"description":"Resource created","headers":{"Cache-Control":{"type":"string"},"ETag":{"type":"string"},"Last-Modified":{"type":"string"}}}},"securityDefinitions":{"jwt":{"type":"apiKey","description":"JWT Token Auth\n\n**Token URL**: http://openshift.io/api/login/authorize","name":"Authorization","in":"header"}}}